{% extends 'layout.html' %}
{% load static %}
 
    
    {% block link %}
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    {% endblock  %}
        

{% block title %}
    MEDISAFE Blogs
{% endblock  %}



{% block body %}
    
<div class="container">
    <a href="">All Blogs</a>
    <br><br>
    <div class="blogspot">
        <img class="blogimage" src="{% static 'pics/Banner.jpg' %}" alt="">
        <div class="bloginfo">
           <div class="blogwriterinfo">
               <img src="{% static 'pics/profile-icon.png' %}" alt="">
               <div class="writernameforblog">
                    <h6>hellothere@gmail.com</h6>
                    <p>time</p>
               </div>
           </div>
           <div class="blogcontent">
               <h3>Headline</h3>
               <p>Hello, how are you doing? This is the place where we write the blogs. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi quibusdam laborum dolore. Repudiandae, veritatis! Animi reiciendis omnis soluta, ex vitae excepturi aliquid mollitia corporis repellat corrupti facilis pariatur nam officia rem quisquam quae ab, atque dolor odit esse nulla exercitationem? Voluptas minus ipsam quos harum! Itaque dolores odio expedita iusto lorem50</p>
           </div>
           <hr>
        </div>
    </div>
    <div class="blogspot">
        <img class="blogimage" src="{% static 'pics/Banner.jpg' %}" alt="">
        <div class="bloginfo">
           <div class="blogwriterinfo">
               <img src="{% static 'pics/profile-icon.png' %}" alt="">
               <div class="writernameforblog">
                    <h6>hellothere@gmail.com</h6>
                    <p>time</p>
               </div>
           </div>
           <div class="blogcontent">
               <h3>Headline</h3>
               <p>Hello, how are you doing? This is the place where we write the blogs. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi quibusdam laborum dolore. Repudiandae, veritatis! Animi reiciendis omnis soluta, ex vitae excepturi aliquid mollitia corporis repellat corrupti facilis pariatur nam officia rem quisquam quae ab, atque dolor odit esse nulla exercitationem? Voluptas minus ipsam quos harum! Itaque dolores odio expedita iusto lorem50</p>
           </div>
           <hr>
        </div>
    </div>
    <div class="blogspot">
        <img class="blogimage" src="{% static 'pics/Banner.jpg' %}" alt="">
        <div class="bloginfo">
           <div class="blogwriterinfo">
               <img src="{% static 'pics/profile-icon.png' %}" alt="">
               <div class="writernameforblog">
                    <h6>hellothere@gmail.com</h6>
                    <p>time</p>
               </div>
           </div>
           <div class="blogcontent">
               <h3>Headline</h3>
               <p>Hello, how are you doing? This is the place where we write the blogs. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi quibusdam laborum dolore. Repudiandae, veritatis! Animi reiciendis omnis soluta, ex vitae excepturi aliquid mollitia corporis repellat corrupti facilis pariatur nam officia rem quisquam quae ab, atque dolor odit esse nulla exercitationem? Voluptas minus ipsam quos harum! Itaque dolores odio expedita iusto lorem50</p>
           </div>
           <hr>
        </div>
    </div>
    <div class="blogspot">
        <img class="blogimage" src="{% static 'pics/Banner.jpg' %}" alt="">
        <div class="bloginfo">
           <div class="blogwriterinfo">
               <img src="{% static 'pics/profile-icon.png' %}" alt="">
               <div class="writernameforblog">
                    <h6>hellothere@gmail.com</h6>
                    <p>time</p>
               </div>
           </div>
           <div class="blogcontent">
               <h3>Headline</h3>
               <p>Hello, how are you doing? This is the place where we write the blogs. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi quibusdam laborum dolore. Repudiandae, veritatis! Animi reiciendis omnis soluta, ex vitae excepturi aliquid mollitia corporis repellat corrupti facilis pariatur nam officia rem quisquam quae ab, atque dolor odit esse nulla exercitationem? Voluptas minus ipsam quos harum! Itaque dolores odio expedita iusto lorem50</p>
           </div>
           <hr>
        </div>
    </div>
    <div class="blogspot">
        <img class="blogimage" src="{% static 'pics/Banner.jpg' %}" alt="">
        <div class="bloginfo">
           <div class="blogwriterinfo">
               <img src="{% static 'pics/profile-icon.png' %}" alt="">
               <div class="writernameforblog">
                    <h6>hellothere@gmail.com</h6>
                    <p>time</p>
               </div>
           </div>
           <div class="blogcontent">
               <h3>Headline</h3>
               <p>Hello, how are you doing? This is the place where we write the blogs. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi quibusdam laborum dolore. Repudiandae, veritatis! Animi reiciendis omnis soluta, ex vitae excepturi aliquid mollitia corporis repellat corrupti facilis pariatur nam officia rem quisquam quae ab, atque dolor odit esse nulla exercitationem? Voluptas minus ipsam quos harum! Itaque dolores odio expedita iusto lorem50</p>
           </div>
           <hr>
        </div>
    </div>
    <div class="blogspot">
        <img class="blogimage" src="{% static 'pics/Banner.jpg' %}" alt="">
        <div class="bloginfo">
           <div class="blogwriterinfo">
               <img src="{% static 'pics/profile-icon.png' %}" alt="">
               <div class="writernameforblog">
                    <h6>hellothere@gmail.com</h6>
                    <p>time</p>
               </div>
           </div>
           <div class="blogcontent">
               <h3>Headline</h3>
               <p>Hello, how are you doing? This is the place where we write the blogs. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi quibusdam laborum dolore. Repudiandae, veritatis! Animi reiciendis omnis soluta, ex vitae excepturi aliquid mollitia corporis repellat corrupti facilis pariatur nam officia rem quisquam quae ab, atque dolor odit esse nulla exercitationem? Voluptas minus ipsam quos harum! Itaque dolores odio expedita iusto lorem50</p>
           </div>
           <hr>
        </div>
    </div>
</div>



{% endblock  %}
    
<!--    Dishant Tayade  S20190010175    -->