body{
    background-color: rgb(221, 248, 238);
    color:  rgb(4, 86, 114);
}
.container{
    margin-top: 50px;
    width: 500px;
    height: 600px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    background-color: white;
}
.container h1{
    font-weight: bolder;
}
.container a{
    color: rgb(4, 86, 114);
}
.form{
    margin-top: 25px;
    text-align: left;
    padding-left: 75px;
    font-size: 22px;
}
.container input{
    margin-top: 7px;
    margin-bottom: 15px;
    border: 2px solid  rgb(4, 86, 114);
    width: 325px;
    height: 45px;
    
    border-bottom: 3px solid rgb(1, 9, 14);
}
.container button{
    margin-top: 10px;
    margin-bottom: 20px;
    width: 325px;
    height: 45px;
    font-size: 20px;
}

.orloginwith{
    color: black;
    
}
.orloginwith img{
    height: 15px;
    width: 15x;
    
}

/* <!--    Dishant Tayade  S20190010175    --> */
