#profpic{
    height: 710px;
    width: 300px;
    /*background-color: rgb(221, 248, 238);*/
}
.profcard{
    height: 270px;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center; 
    background-color: rgb(221, 248, 238);
    border-radius: 15px;
}
.profcard img{
    margin: 20px 10px 10px 10px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.belowprofcard{
    background-color: rgb(221, 248, 238);
    border-radius: 15px;
    margin-top: 25px;
    height: 150px;
    padding: 20px;
    font-size: 20px;
}


#profinfo{
    height: 710px;
    width: 700px;
    background-color: rgb(221, 248, 238);
    border-radius: 25px;
}
.infoblock{
    margin: 25px 25px 25px 25px;
    color: rgb(4, 86, 114);
}
.name{
    margin-top: 30px;
    margin-bottom: 30px;
}
.name input{
    background-color: transparent;
    border-color: rgb(4, 86, 114);
    border-style: solid;
    width: 300px;
    margin-top: 2px;
    height: 40px;
    
}
.email input{
    background-color: transparent;
    border-color: rgb(4, 86, 114);
    border-style: solid;
    width: 500px;
    margin-top: 2px;
    height: 40px;
}
.email p{
    opacity: .5;
}
.update input{
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 50px;
    color: aliceblue;
    opacity: .5;
    background-color: aqua;
    font-size: large;
}
.update input:hover{
    opacity: 1;
}


/* <!--    Dishant Tayade  S20190010175    --> */
